.navagation-logo, .navagation-logo-span
{
    display: none;
}

.navagation
{
    padding: 5%;
}

.mobile-menu
{
    display: inline-flex;

    width: 10%;
    height: 10%;

    margin-left: auto;

    cursor: pointer;
}

.a
{
    display: none;
}

.message-main
{
    font-size: 170%;
}

.header
{
    flex-direction: column;
}

.header-message
{
    padding-left: 5%;
    padding-right: 5%;

    margin-bottom: 5%;

    max-width: 100%;
}

.notify-wrapper
{
    margin-left: 0;
}

.notify-wrapper, .header-notify
{
    width: 100%;

    margin-left: 5%;
    margin-right: 5%;
}

.project-paragraph
{
    display: none;
}