.title
{
    text-align: lef;
    font-family: roboto;
    font-size: 200%; 
    margin-top:1em;
    margin-left:1em;
}

html {font: 16px 'Lobster', serif;}
h1 {font-size: 2em;}
h2 {font-size: 1.75em;}
h3 {font-size: 1.5em;}
p {font-size: 1.25em;}
/*Layout*/
* {box-sizing: border-box;}
.link

{text-align: right}
a
{
    display: inline-block;
}

.nav
{
    display: flex; 
    align-items: center;

    width: 100%;
}
.nav a
{
    display: inline-flex;
    flex-grow: 1;
}
html {
    background-image: linear-gradient(to bottom right ,rgb(4, 146, 241),rgb(7, 85, 255));
    background-repeat: no-repeat;


    font-family: roboto;
  }
  html,body
  {
      height: 100%;
  }