.header
{
    width: 100%;

    display: flex;
    align-items: center;

    margin-top: 10%;

    padding-bottom: 10%;
}

.header-message
{
    flex-direction: column;
    flex-grow: 1;

    max-width: 60%;

    padding-left: 15%;
}

.message-main
{
    display: inline-flex;

    font-family: poppins;
    color: white;
    font-size: 250%;
}

.message-sub
{
    display: inline-flex;

    font-family: roboto;
    color: white;
    font-weight: 300;
    font-size: 95%;

    margin-top: 2%;
}

.header-notify
{
    display: inline-flex;

    flex-grow: 1;

    min-width: 40%;
}

.notify-wrapper
{
    background-color: white;

    display: inline-block;

    margin-left: 5%;

    text-align: center;

    padding: 4% 10% 4% 10%;

    border-radius: 3px;
}

.notify-header
{
    font-family: poppins;
    color: #031b4e;
    font-size: 200%;
    font-weight: 500;
}
.notify-header-span
{
    color: #0069ff;
    font-size: 90%;
    font-weight: 500;
}

.notify-input
{
    background-color: transparent;

    border: none;
    border-bottom: 3px solid rgb(200, 200, 200);
    padding: 2% 4% 2% 4%;

    font-size: 110%;

    margin-top: 10%;

    transition: all .1s ease-out;
}
.notify-input:hover
{
    outline: none;

    border-bottom-color: rgb(150, 150, 150);
}
.notify-input:focus
{
    border-bottom-color: #0069ff;
}

.notify-submit
{
    background-color: #0069ff;

    border-radius: 3px;

    margin-top: 20%;

    display: inline-block;

    padding: 2% 0 2% 0;

    width: 50%;
    min-width: 50%;
    max-width: 50%;

    color: white;
    font-size: 130%;
    font-family: poppins;
    font-weight: 500;

    cursor: pointer;

    transition: all .2s ease-out;
}