.input
{
    display: block;

    color: rgb(3, 27, 78);

    font-weight: 300;

    border: none;
    border-bottom: 2px solid rgb(200, 200, 200);

    padding: .5em;

    font-size: 110%;

    transition: all .1s ease-out;
}
.input:hover
{
    border-bottom-color: rgb(100, 100, 100);
}
.input:focus
{
    outline: none;

    border-color: #044CC2;
}