.navagation
{
    display: flex;
    align-items: center;

    padding: 2em;
}

.navagation-logo
{
    font-family: roboto;

    margin-left: 2em;

    color: white;
    font-size: 150%;
}
.navagation-logo-span
{
    font-size: 90%;

    font-family: roboto;

    font-weight: 300;

    color: white;

    margin-left: 1em;
}

.header
{
    font-family: roboto;
    color: white;

    margin-top: 1em;

    padding-bottom: 1em;

    display: flex;
}
.header-message
{
    margin-left: 3em;
}
.header-full
{
    font-size: 250%;
}
.header-sub
{
    font-weight: 300;

    margin-top: 1em;

    font-size: 90%;
}
.header-message
{
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    padding: 3em;

    width: 5em;
}
.header-notify
{
    flex-grow: 1;
}

#linkLeft
{
    margin-left: auto;
}

#section1
{
    background-image: linear-gradient(to bottom right, #044CC2, #031B4E);
}

.header-notify
{
    box-sizing: border-box;

    padding: 2em 0 2em 5em;
}
.notify-title
{
    color: rgb(3, 27, 78);
    font-size: 120%;
    font-weight: 500;

    display: inline-block;

    padding: .5em 5em .5em 5em;
}
.notifyWrapper
{
    background-color: white;

    border-radius: 1em;

    display: inline-block;

    padding-bottom: 1em;
}

.submitButton
{
    background-color: #044CC2;

    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;

    font-size: 120%;

    padding: .5em;

    text-align: center;

    border-radius: 5px;

    cursor: pointer;

    transition: all .1s ease-in;
}
.submitButton:hover
{
    background-color: #031B4E;
}